.repair-slider {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;

  img {
    height: 100%;

  }

  div {
    flex: 1 0 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }

  .slides-active {
    opacity: 1;
  }
}

.dis-none {
  display: none;
}

.dis-block {
  display: block;
}

.anim-vis {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.vis {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.repair-types-nav {
  overflow: scroll;
}